Select a status below to see the top 10 sales days by campaign

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Status
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#/campaigns/daily/status/RUNNING">Running</a></li>
    <li><a href="#/campaigns/daily/status/TERMINATED">Terminated</a></li>
    <li><a href="#/campaigns/daily/status/ENDED">Ended</a></li>
  </ul>
</div>

<br><br>

<div class='col-md-3' ng-repeat="campaign in campaignAggregates">
	<header class='w3-container w3-center w3-blue'><br> {{campaign.name}} <br></header>
  <div class=' w3-card w3-hover-shadow w3-dark-grey'>
  	Status: {{campaign.status}} <br>
  	Sales: {{campaign.salesTotal}} <br>
  	Spend: {{campaign.spendTotal}} <br>
  	Date: {{campaign._created_at}} <br>
  </div>
  <br>

</div>